@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .feed-item {
    @apply px-0;
  }
  .feed-item::after {
    content: "";
    left: -7px;
    @apply block absolute top-0 w-3 h-3 bg-white border border-red-400 rounded-full;
  }
  .btn-custom {
    @apply font-pop font-bold py-2 px-4 rounded inline-flex items-center;
  }

  .form-input {
    @apply border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm;
  }
  .form-textarea {
    @apply border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm;
  }
  .form-checkbox {
    @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded;
  }

  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-tw {
    @apply ml-4 rounded-lg px-4  py-3  font-bold   leading-tight shadow-md;
  }
  .btn-tw-l {
    @apply ml-4 rounded-lg px-4  py-3    text-white  leading-tight shadow-md;
  }
  .btn-tw-u {
    @apply ml-4 rounded-lg  py-3      leading-tight shadow-md;
  }

  .btn-tw:md {
    @apply px-5 py-4;
  }

  .btn-tw:lg {
    @apply px-4 py-3 text-base;
  }
  .btn-tw:hover {
    @apply bg-gray-200;
  }
  ul {
    list-style: disc;
    margin-left: 10px;
  }
}
a {
  text-decoration: underline;
}

p {
  margin: 10px;
}
