
.App {
  text-align: left;
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.award {
  margin-top: 100px;
  background:url('../public/xaa.jpg') center no-repeat;
  background-size: 100% auto;
  height: 800px;
}

html {
  font-family: "Roboto", sans-serif;
}
body
{
	background-color: #EDEDED !important;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-align {
  text-align: left
}

.App-image {
  height: auto;
  width: 100%;
  
}

.App-avatar {
      width: 80px;
    height: 80px;
        border-radius: 5px;
}

.color1 {
  background-color: #29b6f6
}

.golive {
  transition: 1.5s all;
  opacity:1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  
}

#social1 {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

.card-1 {
  display:flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
    padding-left: 50px;
    flex-shrink: 0;
    width: 40%;
    margin-top: 10px;
    background: white;

}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.golive-noshow {
  transition: 1.5s all;
  font-size: 15px;
  opacity:0.5;
  font-family: "Roboto", sans-serif;
  
}
.golive-header {
  transition: 1.5s all;
  font-size: 20px;
  font-family: Oswald;
}

.animating li {
  transform: translateY(-100%) scaleY(1);
  animation-name: insert-from-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animating li:nth-child(1) {
  animation-delay: 0.25s;
  z-index: 1;
}
.animating li:nth-child(2) {
  animation-delay: 0.45s;
  z-index: 2;
}
.animating li:nth-child(3) {
  animation-delay: 0.625s;
  z-index: 3;
}
.animating li:nth-child(4) {
  animation-delay: 0.8s;
  z-index: 4;
}
.animating li:nth-child(5) {
  animation-delay: 0.975s;
  z-index: 5;
}
.animating li:nth-child(6) {
  animation-delay: 1.45s;
  z-index: 6;
}
.animating li:nth-child(7) {
  animation-delay: 1.525s;
  z-index: 7;
}
.animating li:nth-child(8) {
  animation-delay: 1.6s;
  z-index: 8;
}
.animating li:nth-child(9) {
  animation-delay: 1.675s;
  z-index: 9;
}
.animating li:nth-child(10) {
  animation-delay: 0.75s;
  z-index: 10;
}

.margin1 {
      background-color: white;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.App-text {
      display: flex;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    color: white;
    	font-family: Roboto;

}

.App-small-text {
  font-size: 14px;
  font-weight: 20em;
}
.App-card {
  align-items: flex-start; flex-direction: column; justify-content: flex-end;
}

.mybadge {
  border-radius: 5px;
      font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
}

.ava {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms ease-in;
}
.numberCircle {
    font: 16px Roboto, sans-serif;

    width: 2em;
    height: 2em;
    box-sizing: initial;

    background: deepskyblue;
    border: 0.2em solid #666;
    color: white;
    text-align: center;
    border-radius: 20%;    

    line-height: 2em;
    box-sizing: content-box;   
}
span {
  display: block;
}
.dateBox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
  line-height: 11px;
  color: #444;
  width: 50px;
  display:flex;
  text-align: center;
  text-transform: uppercase;
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 85%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(85%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.day {
  position: relative;
  top: 2px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
  opacity:1;

}
.month {
  color: #fff;
  width:40px;
  line-height: 12px;
  background: #3DB5E8;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 0px #098ec7;
  -webkit-box-shadow: 0px 1px 0px #098ec7;
  text-shadow: 0px 1px 0px #098ec7;
}
.year {
  font-size: 9px;
  line-height: 10px;
  font-weight: normal;
  background: white;
  margin-top:2px;
  width:50px;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}

.day,  .year {
  background: white;
  width:40px;
  text-align: center;
}

.numberBox {
  border: 1px solid green ;
      background: orangered;
      font-weight: 20;
    border: 0.2em solid #666;
    color: white;
    text-align: center;
    border-radius: 10px;  
      box-shadow: #222
}

.numbercirkel {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: black;
    border: 2px solid #666;
    color: white;
    float: right;

  font: 16px Roboto, sans-serif;
    font-weight: 400;
}

div.card-panel.col.s2.roundedCorner {
  border-radius: 10%;
  margin-left:10px;

}

.kudolist {
  margin-left: 30px;
}
.kudotitle {
  font-family: 'Oswald';
  font-size: 20px;
}
.kudoname {
  font-family: Oswald;
  font-size: 24px;
  font-color: black;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;
  transform: rotate(-7deg)
}

.kudoheader {
  height: 80px;
  width: 120px;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.slide-fade li.show {
  transition: all 0.4s ease-out;
  opacity: 1;
  color: yellow
}

.slide-fade div.card-panel {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.slide-fade div.card-panel.show {
  opacity: 1;
}

.section{
  display: flex;
  padding: 10px;
  margin-left: 10px;
}

.aname {
  border-radius: 20%;
  animation-name: fadeup;
	animation: fade 2s ease-in-out forwards;
  animation-direction: reverse;

}

.aname div {
  
  animation-name: insert-from-top;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.aname div:nth-child(1) {
  animation-delay: 0.175s;
  z-index: 1;
}
.aname div:nth-child(2) {
  animation-delay: 0.35s;
  z-index: 2;
}
.aname div:nth-child(3) {
  animation-delay: 0.525s;
  z-index: 3;
}
.aname div:nth-child(4) {
  animation-delay: 0.7s;
  z-index: 4;
}



.fade-enter {
  opacity: 0.01;
  transition: 1.5 all;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  transition: 1s all;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


@keyframes fade {
  0% {
    opacity: 1;
    height:100%;
     transform: translateX(0px);
  }
  50%{
    opacity: 0.5;
    height:50%;
     transform: translateX(-100px);
  }
  100% {
    opacity: 0;
    height: 100%;
     transform: translateX(100px);
  }
}

@keyframes fadeup {
  from {
    opacity: 1;
     transform: translateX(0);
  }
  to {
    opacity: 0;
     transform: translateX(100px);
  }
}

.show {
  display: block;
}

.hide {
  display:none
}

.ralign {
  text-align: right;
  width: 10%;
  float: right;
  font-size: 24px Roboto;
  font-weight: 900;
}

.lalign {
  text-align: left;
  width: 90%;
  float: left;
}

.animating li {
  transform: translateY(-100%) scaleY(1);
  animation-name: insert-from-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animating li:nth-child(1) {
  animation-delay: 0.075s;
  z-index: 1;
}
.animating li:nth-child(2) {
  animation-delay: 0.15s;
  z-index: 2;
}
.animating li:nth-child(3) {
  animation-delay: 0.225s;
  z-index: 3;
}
.animating li:nth-child(4) {
  animation-delay: 0.3s;
  z-index: 4;
}
.animating li:nth-child(5) {
  animation-delay: 0.375s;
  z-index: 5;
}
.animating li:nth-child(6) {
  animation-delay: 0.45s;
  z-index: 6;
}
.animating li:nth-child(7) {
  animation-delay: 0.525s;
  z-index: 7;
}
.animating li:nth-child(8) {
  animation-delay: 0.6s;
  z-index: 8;
}
.animating li:nth-child(9) {
  animation-delay: 0.675s;
  z-index: 9;
}
.animating li:nth-child(10) {
  animation-delay: 0.75s;
  z-index: 10;
}
.animating li:nth-child(11) {
  animation-delay: 0.825s;
  z-index: 11;
}
.animating li:nth-child(12) {
  animation-delay: 0.9s;
  z-index: 12;
}
.animating li:nth-child(13) {
  animation-delay: 0.975s;
  z-index: 13;
}
.animating li:nth-child(14) {
  animation-delay: 1.05s;
  z-index: 14;
}
.animating li:nth-child(15) {
  animation-delay: 1.125s;
  z-index: 15;
}
.animating li:nth-child(16) {
  animation-delay: 1.2s;
  z-index: 16;
}
.animating li:nth-child(17) {
  animation-delay: 1.275s;
  z-index: 17;
}
.animating li:nth-child(18) {
  animation-delay: 1.35s;
  z-index: 18;
}
.animating li:nth-child(19) {
  animation-delay: 1.425s;
  z-index: 19;
}
.animating li:nth-child(20) {
  animation-delay: 1.5s;
  z-index: 20;
}

@keyframes insert-from-top {
  30% {
    opacity: 1;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeup-enter {
  opacity: 0.01;
}

.fadeup-enter.fadeup-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeup-leave {
  opacity: 1;
}

.fadeup-leave.fadeup-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fadeup-appear {
  opacity: 0.01;
}

.fadeup-appear.fadeup-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}