.App {
  text-align: left;
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


html {
  font-family: "Roboto", sans-serif;
}
body
{
	background-color: #EDEDED !important;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-align {
  text-align: left
}

.App-image {
  height: auto;
  width: 100%;
  
}

.App-avatar {
      width: 80px;
    height: 80px;
        border-radius: 5px;
}

.color1 {
  background-color: #29b6f6
}

.margin1 {
      background-color: white;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.App-text {
      display: flex;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    color: white;
    	font-family: Roboto;

}

.App-small-text {
  font-size: 16px;
  font-weight: 20em;
}
.App-card {
  align-items: flex-start; flex-direction: column; justify-content: flex-end;
}

.mybadge {
  border-radius: 5px;
      font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
}

.ava {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms ease-in;
}
.numberCircle {
    font: 16px Roboto, sans-serif;

    width: 2em;
    height: 2em;
    box-sizing: initial;

    background: deepskyblue;
    border: 0.2em solid #666;
    color: white;
    text-align: center;
    border-radius: 20%;    

    line-height: 2em;
    box-sizing: content-box;   
}

.numberBox {
  border: 1px solid green ;
      background: orangered;
      font-weight: 20;
    border: 0.2em solid #666;
    color: white;
    text-align: center;
    border-radius: 10px;  
      box-shadow: #222
}

.numbercirkel {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: black;
    border: 2px solid #666;
    color: white;
    float: right;

  font: 16px Roboto, sans-serif;
    font-weight: 400;
}

div.card-panel.col.s2.roundedCorner {
  border-radius: 10%;
  margin-left:10px;

}

.kudolist {
  margin-left: 30px;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.slide-fade li.show {
  opacity: 1;
}

.slide-fade div.card-panel {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.slide-fade div.card-panel.show {
  opacity: 1;
}
.aname {
  border-radius: 20%;
	animation: fade 2s ease-in-out forwards;
  animation-direction: reverse;

}



@keyframes fade {
  from {
    opacity: 1;
     transform: translateX(0);
  }
  to {
    opacity: 0;
     transform: translateX(100px);
  }
}

@keyframes fadeup {
  from {
    opacity: 1;
     transform: translateY(0);
  }
  to {
    opacity: 0;
     transform: translateY(100px);
  }
}

.show {
  display: block;
}

.hide {
  display:none
}

.ralign {
  text-align: right;
  width: 10%;
  float: right;
  font-size: 24px Roboto;
  font-weight: 900;
}

.lalign {
  text-align: left;
  width: 90%;
  float: left;
}